body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
 li{
  list-style-type: none;
 }


.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.question , .user{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 15px;
}
   
.q-header{
  align-self: stretch;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  margin-bottom: 5px; 
}


.q-body{
  display: flex;
}

.asker-info{
  width:  20%;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid gray;
 
}

.avatar{
  border: 1px solid gray;
  border-radius: 50%;
  max-width: 30%;
  height: 60px;
  align-self: center;
  margin-left:  15px;
  align-items: flex-end;
}

.poll{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: right;
  align-items: flex-start;
  padding-left: 20px;
}

/* ------NewQuestion------ */
h2{
  text-align: center
}
h1 {
  overflow: hidden;
  text-align: center;
}

